html,
body,
:root {
  height: 100%;
  width: 100%;
}

.next-button {
  background-image: url("./images/icons/right_sign.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
